.form {
  padding: 30px;
  width: 50%;
}

h1 {
  margin-bottom: 30px;
}

label {
  padding-right: 10px;
}

.text-success {
  margin-bottom: 30px;
}

.custom-label {
  margin-right: 20px;
  margin-bottom: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  input {
    width: auto;
    height: 18px;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }
}